#mainVisual { overflow: hidden; position: relative; }

#mainVisual ul li { height: 100vh; background-repeat: no-repeat; background-size: cover; background-position: 50%; }

#mainVisual ul li.visual01 { background-image: url("../images/main/mainVisual01.jpg"); }

#mainVisual ul li.visual02 { background-image: url("../images/main/mainVisual02.jpg"); }

#mainVisual ul li.visual03 { background-image: url("../images/main/mainVisual03.jpg"); }

#mainVisual .swiper-button-prev, #mainVisual .swiper-button-next { width: 80px; height: 80px; background: rgba(0, 0, 0, 0.5); color: #fff; }

#mainVisual .swiper-button-prev:after, #mainVisual .swiper-button-next:after { font-size: 30px; }

#mainVisual .slogan { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center; z-index: 4; color: #fff; }

#mainVisual .slogan .main { font-size: 55px; font-weight: 700; margin-bottom: 50px; }

#mainVisual .slogan .main span { display: inline-block; }

#mainVisual .slogan .sub { font-size: 18px; }

#mainVisual .swiper-pagination { bottom: 250px; z-index: 3; }

#mainVisual .swiper-pagination .swiper-pagination-bullet { width: 20px; height: 20px; border: 2px solid #fff; background: transparent; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

#mainVisual .swiper-pagination .swiper-pagination-bullet-active { width: 100px; border-radius: 100px; background: rgba(0, 0, 0, 0.3); }

#mainVisual .iconScroll { position: absolute; left: 50%; bottom: 100px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); bottom: 50px; z-index: 3; }

#mainVisual .iconScroll .icon { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 20px; height: 35px; border: 2px solid #fff; border-radius: 100px; margin: 0 auto; }

#mainVisual .iconScroll .icon:after { content: ""; width: 2px; height: 7px; margin-top: 9px; background: #fff; -webkit-animation: iconScroll 1s infinite alternate; animation: iconScroll 1s infinite alternate; }

#mainVisual .iconScroll .txt { color: #fff; text-transform: uppercase; font-size: 12px; }

#mainContents > div { padding: 100px 0; }

#mainContents > div h2 { font-size: 36px; text-align: center; }

#mainContents > div p.title { text-align: center; margin-bottom: 100px; }

.section01 ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.section01 ul li a { position: relative; display: block; }

.section01 ul li a:after { display: block; content: ""; position: absolute; left: 20px; right: 20px; top: 20px; bottom: 20px; border: 1px solid #fff; }

.section01 ul li a span { position: absolute; left: 0; bottom: 0; padding: 40px; color: #fff; }

.section01 ul li a span b { display: block; font-size: 32px; line-height: 30px; margin-top: 20px; }

.section02 { background: url(../images/main/bgBusiness.jpg) 0 0 no-repeat; background-size: cover; }

.section02 ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.section02 ul li { overflow: hidden; margin-bottom: 20px; }

.section02 ul li:hover img { -webkit-transform: scale(1.2); transform: scale(1.2); -webkit-filter: grayscale(0%); filter: grayscale(0%); }

.section02 ul li a { position: relative; display: block; }

.section02 ul li a img { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; -webkit-filter: grayscale(100%); filter: grayscale(100%); }

.section02 ul li a .txtBox { position: absolute; left: 40px; bottom: 40px; color: #fff; }

.section02 ul li a .txtBox b { display: block; font-size: 24px; }

.section03 ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.section03 ul li { width: 390px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #ddd; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

.section03 ul li a { display: block; }

.section03 ul li a > div { padding: 20px; }

.section03 ul li a .title { display: block; font-size: 24px; }

.section03 ul li a .txt { display: block; margin: 20px 0; }

.section03 ul li a .date { color: #767676; }

.section03 ul li a img { width: 100%; height: 350px; }

.section03 ul li:hover { -webkit-transform: translateY(-10px); transform: translateY(-10px); -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }

.section04 { background: url(../images/main/bgCustomer.jpg) center center no-repeat; background-size: cover; color: #fff; }

.section04 h2 { position: relative; }

.section04 h2:after { display: block; content: ""; margin: 33px auto; width: 30px; height: 2px; background: #fff; }

.section04 .btn_customer { display: block; margin: 0 auto; width: 200px; text-align: center; line-height: 60px; border-radius: 100px; color: #fff; background: #bf0c14; }

footer { position: relative; background: #333; color: #fff; }

footer:before { display: block; content: ""; position: absolute; top: 80px; left: 0; right: 0; height: 1px; background: #fff; }

footer .footerLink { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

footer .footerLink a { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; color: #fff; padding: 30px; }

footer .footerLink a:after { display: block; content: ""; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; height: 10px; background: #fff; }

footer .footerLink a:last-child:after { display: none; }

footer .footerBox { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 50px 0; }

footer .footerBox .address p + p { margin-top: 30px; }

footer .footerBox .customerCenter b { display: block; margin-top: 10px; font-size: 40px; }

@-webkit-keyframes iconScroll { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(10px); transform: translateY(10px); } }

@keyframes iconScroll { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(10px); transform: translateY(10px); } }
